* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    color: #fff;
    background-color: #191411;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
    outline: none;
}

input {
    outline: none;
    border: none;
}

ul {
    list-style: none;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 62px;
    width: 260px;
    padding: 19px;
    border-radius: 8px;
    background-image: linear-gradient(96deg, #da8023 0%, #e2b438 100%);
    color: #191411;
    font-size: 18px;
}

.button:hover {
    background-image: linear-gradient(96deg, #ac6115 0%, #9e7a19 100%);
}

.common-title {
    font-family: 'Merriweather', sans-serif;
    font-size: 64px;
    font-weight: 900;
    line-height: 80px;
    letter-spacing: 1.92px;
    text-align: center;
    text-transform: uppercase;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

#app {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
}

.header {
    padding: 40px 0;
}

.bg-main {
    position: absolute;
    height: 980px;
    width: 100%;
    background-image: url('../img/main_bg.png');
    background-repeat: no-repeat;
    background-position: top center;
    z-index: -1;
}

.header .container {
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
}

.logo img {
    vertical-align: bottom;
}

.menu {
    margin-left: 191px;
}

.menu-list {
    display: flex;
}

.menu-item:not(:last-child) {
    margin-right: 88px;
}

.menu-item a {
    color: #fff;
    font-size: 18px;
    border-bottom: 2px solid transparent;
    transition: .3s;
}

.menu-item a:hover {
    border-bottom: 2px solid #fff;
}

.currency {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    margin-left: auto;
    border: 1px solid #fff;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
}

.main {
    flex: 1 1 auto;
}

.main-content {
    margin: 103px 0 199px;
}

.main-content:hover .main-image {
    transform: scale(1.1) rotate(5deg);
}

.main-content .container {
    position: relative;
}

.main-info {
    max-width: 608px;
}

.main-small-info {
    display: inline-flex;
    padding: 12px 16px;
    background-color: #d3320f;
    border-radius: 50px;
    font-size: 18px;
}

.main-title {
    font-family: 'Merriweather', sans-serif;
    font-size: 120px;
    font-weight: 900;
    line-height: 156px;
    letter-spacing: 3.60px;
    text-transform: uppercase;
    margin-bottom: 56px;
}

.main-text {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 56px;
}

.main-image {
    position: absolute;
    top: -123px;
    left: calc(100% - 991px);
    z-index: -1;
    transition: .4s;
}

.why {
    background-image: url('../img/whybg.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: initial;
    padding-bottom: 180px;
}

.why-items {
    display: grid;
    gap: 100px;
    margin-top: 60px;
    grid-template-columns: repeat(3, 312px);
    justify-content: center;
}

.why-item {
    text-align: center;
}

.why-item img {
    transition: .3s;
}

.why-item img:hover {
    transform: scale(1.1);
}

.why-item-title {
    font-size: 24px;
    line-height: 29px;
    margin: 24px 0;
}

.why-item-text {
    font-size: 16px;
    line-height: 140%;
}

.products {
    background-image: url('../img/burgers_bg.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 1400px;
    padding-bottom: 180px;
}

.products-items {
    display: grid;
    grid-template-columns: repeat(3, 384px);
    gap: 24px;
    margin-top: 60px;
}

.products-item {
    padding: 30px;
    background-color: #211a16;
    border: 1px solid #353535;
    border-radius: 16px;
}

.products-item:hover .products-item-image img {
    transform: scale(1.2) rotate(10deg);
}

.products-item-image {
    height: 250px;
}

.products-item-image img {
    max-width: 100%;
    transition: .3s;
}

.products-item-title {
    font-size: 24px;
    line-height: 29px;
    margin: 24px 0;
}

.products-item-text {
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 24px;
}

.products-item-extra {
    display: flex;
    justify-content: space-between;
}

.products-item-price {
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 8px;
}

.products-item-weight {
    font-size: 16px;
    line-height: 18px;
    color: #757575;
}

.button.product-button {
    display: flex;
    justify-content: center;
    width: 182px;
}

.button.product-button svg {
    margin-left: 10px;
}

.order {
    background-image: url('../img/order_bg.png');
    background-repeat: no-repeat;
    background-position: top center;
    padding-bottom: 180px;
}

.order .container {
    position: relative;
}

.order-image {
    position: absolute;
    top: 0;
    right: calc(100% - 764px);
    z-index: -1;
}

.order-form {
    width: 424px;
    background-color: #211a16;
    border: 1px solid #353535;
    border-radius: 16px;
    margin-top: 60px;
    padding: 60px 40px;
    margin-left: 674px;
}

.order-form-text {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

.order-form-inputs {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.order-form-input {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 62px;
    width: 344px;
    border-radius: 8px;
    background-image: linear-gradient(95.61deg, #da8023 0%, #e2b438 100%);
    margin-bottom: 20px;
}

.order-form-input input {
    height: 60px;
    width: 342px;
    border-radius: 8px;
    color: #fff;
    background-color: #211a16;
    padding: 16px 10px;
    border: 1px solid transparent;
}

.order-form-inputs .button {
    height: 62px;
    width: 344px;
}

.footer {
    flex: 0 0 auto;
    padding: 60px 0;
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rights {
    font-size: 16px;
    line-height: 20px;
}
